.icon-bar {
  padding: 3em 0;
  text-align: center;
}

.icon-bar__icon-wrapper {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 0.5em;
}

.icon-bar__icon {
  width: 100%;
  height: 100%;
  &:hover {
    filter: drop-shadow(0 0px 10px #fff);
  }
}

@media only screen and (min-width: 750px) {
  .icon-bar {
    text-align: right;
  }
}