.nav a {
  display: inline-block;
}

.nav__logo {
  width: 40%;
  height: 40px;
  fill: #fff;
  &:hover {
    filter: drop-shadow(0 0px 10px #fff);
  }
}

@media only screen and (min-width: 750px) {
  .nav__logo {
    width: 50%;
  }
}