.site-header__section-img {
  padding: 3em 0;
  & img {
    width: 100%;
  }
}

.site-header__section-info {
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .site-header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 2em;
    font-size: 1.1rem;
  }

  .site-header__section-img {
    grid-column: 1;
  }

  .site-header__section-info {
    grid-column: 2;
    align-self: center;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .site-header {
    font-size: 1.3rem;
  }
}
