body {
  background-color: $clr-violet;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
}
